//https://developer.mozilla.org/en-US/docs/Web/CSS/@import

//general
body {
    background: radial-gradient(circle, rgba(2,0,36,0) 50%, lightgray 100%);
    overflow-x: hidden;
}

.edit {
    float: left;
}

.edit:hover {
    filter: brightness(75%);
}

.edit:active {
    filter: brightness(50%);
}

.trash:hover {
    filter: brightness(75%);
}

.trash:active {
    filter: brightness(50%);
}

.indexChanger:hover {
    filter: brightness(75%);
}

.indexChanger:active {
    filter: brightness(50%);
}

.button {
    color: white;
    font-weight: bold;
    position: relative;
    outline-style: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 25px 0px 0px 15px;
}

.button:hover {
    filter: brightness(75%);
}

.button:active {
    filter: brightness(50%)
}

.indexButton {
    float: right;
    color: white;
    font-weight: bold;
    outline-style: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: -20px 0px -20px 0px;
}

.box {
    outline: solid;
    outline-color: black;
}

.dropdown {
    color: white;
    font-weight: bold;
    float: right;
    outline-style: none;
    border: none;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 35px 0px 15px;
    .dropdownContainer {
        color: white;
        font-weight: bold;
        outline-style: none;
        border: none;
        position: relative;
        border-radius: 5px;
        padding: 10px;
    }
    .dropdownElement {
        display: none;
        border: none;
        color: white;
        min-width: 70px;
        padding: 5px 10px 5px 10px;
    }
    .dropdownElement:hover {
        filter: brightness(125%)
    }
}

.input {
    background-color: transparent;
    border: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid lightgrey 1px;
    text-align: center;
    margin: 0px 10px 0px 0px;
}

.nobullets {
    list-style: none;
    margin: 0;
    padding: 0;
}

//identity
//https://www.w3schools.com/Css/tryit.asp?filename=trycss_border-bottom
.identity {
        background-color: white;
        outline-style: solid;
        outline-width: thick;
        border-radius: 5px;
        padding: 35px 0px 10px 0px;
        margin: 25px 50px 0px 50px;
    .container {
        display: inline-block;
        margin: 10px 25px 0px 0px;
    }
    .inputName {
        position: relative;
        background-color: transparent;
        border: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid lightgrey 1px;
        font-size: larger;
        margin: 50px 10px 0px 50px;
    }
    .type {
        text-align: center;
        margin-right: 6px;
    }
}

//character sheet
.sheetContainer {
    background-color: red;
}

.characterSheet {
    padding: 0px 100px 0px 100px;
    .sheetContent {
        background-color: white;
        outline-style: solid;
        outline-width: thick;
        border-radius: 5px;
        padding: 10px;
        margin: 35px 50px 10px 50px;
    }
    .innerSheetContent {    
        outline-style: solid;
        outline-width: thick;
        border-radius: 5px;
        padding: 10px;
        margin: 25px -10px -5px -10px
    }
    .lesserSheetContent {
        background-color: white;
        outline-style: solid;
        outline-width: thick;
        border-radius: 5px;
        padding: 10px;
        margin: 0px -10px 25px -10px;
    }
}

.columnContainer {
    display: flex;
    flex-wrap: wrap;
    .firstColumn {
        width: 60%;
    }
    
    .secondColumn {
        width: 40%;
    }
}

.controlPanel {
    float: right;
}

//navbar
.navbar {
    background-color: khaki;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
}

.logo {
    text-align: center;
}

.navbarHeader {
    display: inline-block;
    float: left;
}

.navbarDropdown {
    background-color: lightgray;
    color: white;
    border-color: lightgray;
    position: flex;
    display: inline-flex;
    padding: 5px 100px 5px 20px;
    width: 100%;
}

.navbarButton {
    margin: 5px;
}

.navbarSection {
    background-color: khaki;
    margin: -16px 0px -16px 0px;
    padding: 16px 0px 16px 0px;
}

.navbarToggle {
    color: white;
    position: absolute;
    font-weight: bold;
    outline-style: none;
    border: none;
    z-index: 2;
    border-radius: 5px;

}

//article
.article {
    .box {
        background-color: wheat;
        padding: 5px;
        margin: 5px;
    }
}