//general
body {
    background: white;
    overflow-x: hidden;
}

.background {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.edit {
    display: inline-block;
    float: right;
    margin: 2px 0px 0px 0px;
}

.edit:hover {
    filter: brightness(75%);
}

.edit:active {
    filter: brightness(50%);
}

.trash:hover {
    filter: brightness(75%);
}

.trash:active {
    filter: brightness(50%);
}

.indexChanger:hover {
    filter: brightness(75%);
}

.indexChanger:active {
    filter: brightness(50%);
}

.button {
    color: white;
    font-weight: bold;
    position: relative;
    outline-style: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 25px 0px 0px 15px;
}

.button:hover {
    filter: brightness(75%);
}

.button:active {
    filter: brightness(50%)
}

.indexButton {
    float: right;
    color: white;
    font-weight: bold;
    outline-style: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: -20px 0px -20px 0px;
}

.dropdown {
    color: white;
    font-weight: bold;
    float: right;
    outline-style: none;
    border: none;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 35px 0px 15px;
    .dropdownContainer {
        color: white;
        font-weight: bold;
        outline-style: none;
        border: none;
        position: relative;
        border-radius: 5px;
        padding: 10px;
    }
    .dropdownElement {
        display: none;
        border: none;
        color: white;
        position: relative;
        min-width: 70px;
        padding: 5px 10px 5px 10px;
        margin-top: 0px;
    }
    .dropdownElement:hover {
        filter: brightness(125%)
    }
}

.nobullets {
    list-style: none;
    margin: 0;
    padding: 0;
}

//identity
.identity {
        background-color: white;
        outline-style: solid;
        outline-width: thick;
        border-radius: 5px;
        padding: 35px 0px 10px 0px;
        margin: 25px 50px 0px 50px;
    .container {
        display: inline-block;
        margin: 0px 25px 0px 35px;
    }
    .inputName {
        position: relative;
        background-color: transparent;
        border: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid lightgrey 1px;
        font-size: 50px;
        margin: 0px 265px 15px 0px;
        width: 700px;
    }
    .input {
        background-color: transparent;
        font-size: 25px;
        text-align: center;
        border: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid lightgrey 1px;
        margin: 29px 10px 0px 0px;
        width: 150px;
    }
    .valueInput {
        background-color: transparent;
        font-size: 50px;
        text-align: center;
        border: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid lightgrey 1px;
        margin: 0px 10px 0px 0px;
        width: 100px;
    }
    .type {
        font-family: sans-serif;
        text-align: center;
        margin: 10px -45px 25px -50px;
    }
}

//character sheet
.characterSheet {
    padding: 0px 100px 0px 100px;
    width: 1701px; //removable
    margin: 0 auto; //removable
    .sheetContent {
        background-color: white;
        outline-style: solid;
        outline-width: thick;
        border-radius: 5px;
        padding: 10px;
        margin: 35px 50px 10px 50px;
    }
    .innerSheetContent {    
        outline-style: solid;
        outline-width: thick;
        border-radius: 0px 0px 1px 1px;
        padding: 10px;
        margin: 25px -10px -10px -10px
    }
    .lesserSheetContent {
        background-color: white;
        outline-style: solid;
        outline-width: thick;
        border-radius: 5px;
        padding: 10px;
        margin: 0px -10px 25px -10px;
    }
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.overlayContent {
    background-color: white;
    position: fixed;
    margin: 0 0 auto;
    padding: 15px 100px 15px 25px;
    border-radius: 5px;
    top: 40%;
    left: 41%;
}

.rollContainer {
    position: fixed;
    right: 30;
    top: 750;
    display: flex;
    flex-direction: column;
}

.rollResult {
    flex: 0;
    position: relative;
    background-color: white;
    outline-color: black;
    padding: 25px 0px 25px 0px;
    margin: 10px 0px 5px 0px;
    border-radius: 10px;
    border: 1px solid dimgrey;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
}

.dice {
    flex: 0;
    position: relative;
    padding: 5px;
}

.dice:hover {
    filter: brightness(75%);
}

.columnContainer {
    display: flex;
    flex-wrap: wrap;
    .firstColumn {
        width: 60%;
    }
    
    .secondColumn {
        width: 40%;
    }
}

.title {
    font-family: sans-serif;
    display: inline-block;
}

.headerText {
    font-family: sans-serif;
    font-weight: bold; 
    margin: 0px 0px 10px 0px;
}

.header {
    font-family: sans-serif;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}

.paragraph {
    color: dimgrey;
    font-family: sans-serif;
    margin: 0px 0px 10px 0px;
}

.input {
    color: dimgrey;
    background-color: transparent;
    border: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid lightgrey 1px;
    font-size: 15px;
    margin: 0px 0px 15px 0px;
    width: 175px;
}

.controlPanel {
    float: right;
    margin-right: 5px;
}

//navbar
.navbar {
    background-color: khaki;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100vh;
}

.logo {
    text-align: center;
}

.navbarHeader {
    display: inline-block;
    float: left;
}

.navbarDropdown {
    background-color: lightgray;
    color: white;
    border-color: lightgray;
    position: flex;
    display: inline-flex;
    padding: 5px 100px 5px 20px;
    width: 100%;
}

.navbarButton {
    margin: 5px;
}

.navbarSection {
    background-color: khaki;
    margin: -16px 0px -16px 0px;
    padding: 16px 0px 16px 0px;
}

.navbarToggle {
    color: white;
    position: absolute;
    font-weight: bold;
    outline-style: none;
    border: none;
    z-index: 2;
    border-radius: 5px;
}

//clickable box
.svgContainer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    .boxContainer {
        flex: 0 0 auto;
        width: 25vh;
        margin: 0px -190px 0px 0px;
        .box {
            outline: solid;
            outline-color: dimgrey;
        }
    }
}