::-webkit-scrollbar {
  display: none;
}

.logo {
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  position: flex;
  padding: 50px 50px 50px 50px;
  margin: -25px;
}

.dropdownContainer::-webkit-scrollbar {
  display: none;
}

.dropdownContainer {
  display: none;

  background-color: darkgray;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  top: 0;
  left: 0;
  height: 100vh;
}

.dropdown {
  background-color: darkgray;
  color: white;
  border-color: lightgray;
  font: inherit;
  cursor: pointer;
  position: flex;
  display: inline-flex;
  padding: 5px 100px 5px 20px;
  width: 100%;
}

.linkContainer {
  background-color: lightgray;
  margin: 0vh -10vh 0vh -10vh;
}

.section {
  padding: 10px 0px 10px 75px;
  margin: 0px 0px 0px 10px;
}

.link {
  color: black;
}

.characterSheetContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}

.characterSheetBox {
  background-color: white;
  color: cornflowerblue;
  outline-color: cornflowerblue;
  outline-style: solid;
  outline-width: thick;
  border-radius: 5px;
  padding: 10px;
  margin: 25px 150vh 25px 25px;
}

.characterSheetButton {
  background-color: white;
  color: cornflowerblue;
  outline-color: cornflowerblue;
  outline-style: solid;
  outline-width: thick;
  border-radius: 5px;
  padding: 10px;
  margin: 25px 0px 25px 25px;
}

.box {
  position: sticky;
  display: inline-block;
  stroke: black;
  overflow: hidden;
}